let mapleader=" "
nnoremap <SPACE> <Nop>

set hlsearch
set scrolloff=3
set ignorecase smartcase
set showmode
set history=1000

set NERDTree

map <leader>n :NERDTree<CR>
nnoremap <leader>Q :action ReopenClosedTab<cr>
nnoremap <leader>q :action CloseContent<cr>
nnoremap <leader>d :action ToggleLineBreakpoint<cr>
nnoremap <c-d> :action Debug<cr>
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-h> <c-w>h
nnoremap <c-k> <c-w>k

nnoremap <s-tab> gT
nnoremap <leader>g :action FindUsages<cr>
nnoremap <s-q> gt
nnoremap <leader>r :action Rename<cr>
nnoremap <leader>s :action Find<cr>
nnoremap <leader>tm :action ActivateTerminalToolWindow<cr>

nnoremap nd :action NewFolder<cr>
nnoremap <leader>tt :action GotoTest<cr>
nnoremap <leader>r :action RunClass<cr>
nnoremap <leader>ss :action Stop<cr>
nnoremap <leader>sb :nohlsearch<cr>
nnoremap <space>rr :action RenameElement<cr>
nnoremap <leader>ff :action SelectInProjectView<cr>

nnoremap <space>t :action FileStructurePopup<cr>
nnoremap <space>k :action HighlightUsagesInFile<cr>

nnoremap <s-Up> :action MethodUp<cr>
nnoremap <s-Down> :action MethodDown<cr>

nnoremap <C-n> :action NewClass <cr>

inoremap jj <Esc>


